<div class="row header headerMain" style="margin-left: 0px; margin-right: 0px;">
    <div class="container-fluid"> 
        <div class="col-md-10 col-xs-10 col-sm-10 intop">
            <label for="cuando" style="padding-left: 4rem; padding-top: 1rem;">Alta Detalle de Inventario</label>        
        </div>
    </div>
</div><br>


<form id="registro-form2">    
         
    <div class="row content">
        <div class="container-fluid">          
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="inventoryDetailInventoryId">Id Inventario</label>
          	     <input ng-model="item.inventoryDetailInventoryId" type="text" placeholder="Id Inventario" id="inventoryDetailInventoryId" class="form-control"/>
       	    </div>
       		 
       	    <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="inventoryDetailSpecieIdId">Id Especie</label>
          	     <input ng-model="item.inventoryDetailSpecieIdId" type="text" placeholder="Id Especie" id="inventoryDetailSpecieIdId" class="form-control"/>
       	    </div>
        </div>
    </div>
   	   
    <div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
                <label for="inventoryDetailAmount">Cantidad</label>
                <input ng-model="item.inventoryDetailAmount" type="text" placeholder="Cantidad" id="inventoryDetailAmount" class="form-control"/>
            </div>  
        		   
   	        <div class="col-md-6 col-xs-12 col-sm-12 titulo">   
   	            <label for="inventoryDetailAmountLeft">Cantidad Restante</label>
                <input ng-model="item.inventoryDetailAmountLeft" type="text" placeholder="Cantidad Restante" id="inventoryDetailAmountLeft" class="form-control"/>
       	    </div>  
        </div>	
    </div> 
    
    <br><br><div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-12 col-xs-12 col-sm-12 titulo">
                <button ng-click="add(item)" ng-disabled="!(!!item)" class="btn btn-sig pull-left" type="button">GUARDAR</button>
            </div>   
        </div>
    </div> 
       
</form>  
    
