<div class="row header headerMain" style="margin-left: 0px; margin-right: 0px;">
    <div class="container-fluid"> 
        <div class="col-md-10 col-xs-10 col-sm-10 intop">
            <label for="cuando" style="padding-left: 4rem; padding-top: 1rem;">Edición de Rol {{item.roleName}}</label>
        </div>
    </div>
</div><br>

<form id="registro-form2">    
         
    <div class="row content">
        <div class="container-fluid">          
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="roleName">Nombre</label>
          	     <input ng-model="item.roleName" type="text" placeholder="Nombre" id="roleName" class="form-control"/>
       	    </div>
       		 
       	    <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="inventoryDate">Porcentaje</label>
          	     <input ng-model="item.inventoryDate" type="text" placeholder="Porcentaje" id="inventoryDate" class="form-control"/>
       	    </div>
        </div>
    </div>   
    
    <br><br><div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
                <button ng-click="update(item)" ng-disabled="!(!!item)" class="btn btn-sig pull-left" type="button">GUARDAR</button>
            </div>   
        </div>
    </div>       

</form>