<div class="row header headerMain" style="margin-left: 0px; margin-right: 0px;">
    <div class="container-fluid"> 
        <div class="col-md-10 col-xs-10 col-sm-10 intop">
            <label for="cuando" style="padding-left: 4rem; padding-top: 1rem;">Alta de Precio</label>        
        </div>
    </div>
</div><br>


<form id="registro-form2">    
         
    <div class="row content">
        <div class="container-fluid">     
           <!-- Reference from Specie -->	     
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="priceSpecieId">Especie</label><br>
           	    <select ng-model='item.priceSpecieId' required ng-options='option.specieId as option.specieDesc for option in options1'></select>
       	    </div>
       	    
       	    <!-- Reference from Client -->		   
   	        <div class="col-md-6 col-xs-12 col-sm-12 titulo">   
   	            <label for="priceClientId">Cliente</label><br>
           	    <select ng-model='item.priceClientId' required ng-options='option.clientId as option.clientName for option in options2'></select>
       	    </div> 
        </div>
    </div>
   	   
    <div class="row content">
        <div class="container-fluid"> 
           <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="pricePrice">Precio</label>
          	     <input ng-model="item.pricePrice" type="text" placeholder="Precio" id="pricePrice" class="form-control"/>
       	    </div>
       	    
        </div>	
    </div>  
    
    <br><br><div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-12 col-xs-12 col-sm-12 titulo">
                <button ng-click="add(item)" ng-disabled="!(!!item)" class="btn btn-sig pull-left" type="button">GUARDAR</button>
            </div>   
        </div>
    </div> 
       
</form>