<div class="row header headerMain" style="margin-left: 0px; margin-right: 0px;">
    <div class="container-fluid"> 
        <div class="col-md-10 col-xs-10 col-sm-10 intop">
            <label for="cuando" style="padding-left: 4rem; padding-top: 1rem;">Alta de Empleado</label>        
        </div>
    </div>
</div><br>


<form id="registro-form2">    
         
    <div class="row content">
        <div class="container-fluid">          
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="employeeName">NOMBRE</label>
          	     <input ng-model="item.employeeName" type="text" placeholder="Nombre" id="employeeName" class="form-control"/>
       	    </div>
       		 
       	    <div class="col-md-6 col-xs-12 col-sm-12 titulo">
           	    <label for="employeeAfiliation">AFILICACIÓN</label>
          	     <input ng-model="item.employeeAfiliation" type="text" placeholder="Afiliación" id="employeeAfiliation" class="form-control"/>
       	    </div>
        </div>
    </div>
   	   
    <div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
                <label for="employeeRfc">RFC</label>
                <input ng-model="item.employeeRfc" type="text" placeholder="RFC" id="employeeRfc" class="form-control"/>
            </div>  
        		   
   	        <div class="col-md-6 col-xs-12 col-sm-12 titulo">   
   	            <label for="employeeCurp">CURP</label>
                <input ng-model="item.employeeCurp" type="text" placeholder="CURP" id="employeeCurp" class="form-control"/>
       	    </div>  
        </div>	
    </div> 
       
    <div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-6 col-xs-12 col-sm-12 titulo">
                <label for="employeeLc">No. L/C</label>
                <input ng-model="item.employeeLc" type="text" placeholder="No. L/C" id="employeeLc" class="form-control"/>
            </div>   
        </div>
        	
    </div> 
    
    <br><br><div class="row content">
        <div class="container-fluid"> 
            <div class="col-md-12 col-xs-12 col-sm-12 titulo">
                <button ng-click="add(item)" ng-disabled="!(!!item)" class="btn btn-sig pull-left" type="button">GUARDAR</button>
            </div>   
        </div>
    </div> 
       
</form>  
    
